<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recorddb/style.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
  </head>
  <body>
    <p>
      <ul class="tree">
        {% if wishlist %}
            {% for a in artists %}
            <li class="artist-{{a}}">
              <input type="checkbox" id="{{a}}"/>
              <label for="{{a}}"><a href="{% url 'recorddb:discog' a %}">{{a}}</a></label>
              <ul>
                {% for w in wishlist %}
                  {% if w.artist.name == a %}
                    <li>({{w.release_date}}) {{w.title}}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
        {% else %}
          No records wanted
        {% endif %}
      </ul>
    </p>
  </body>
</html>