h2 {
    text-align: center;
}
table {                                                                                                                 
    border-collapse: collapse;                                                                                          
    margin: auto;                                                                                                       
    font-size: 0.9em;                                                                                                   
    font-family: sans-serif;                                                                                            
    min-width: 400px;                                                                                                   
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);                                                                           
}

th,
td{
    padding: 12px 15px;
}

tbody tr {
    border-bottom: thin solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3; 
}

tbody tr:last-of-type {
    border-bottom: thin solid #009879;
}

.owned {
    background-color: #009879;
    color: #ffffff;
}

.used {
    background-color: #ffe600;
    color: #000000;
}
/* thead tr, tbody tr:hover {
    text-align: left;
} */